@import './variables/variables';

* {
    padding: 0;
    margin: 0;

    font-family: 'Nunito', sans-serif;

    box-sizing:border-box;

    a {
        text-decoration: none;
        color: $black;
    }

    &::after {
        box-sizing:border-box;
    }

    &::before {
        box-sizing:border-box;
    }
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;

    background-color: #E5E5E5;

    padding-bottom: 100px;
}